.site
  %h1 Tessa Thornton
  %h2 Front-end Web Developer
  .links
    = link_to "github.com/tessalt", "https://github.com/tessalt"
    = link_to "@tessathornton", "https://twitter.com/tessthornton"
  .work.link-list
    %h3 Projects
    %ul
      %li
        = link_to "MyStops TTC", "http://tessalt.github.io/mystops/select.html"
      %li
        = link_to "Pros vs. Cons App", "http://www.pros-vs-cons.com/"
  .llc.link-list
    %h3 Workshop Content and Slides
    %ul
      %li
        = link_to "Ladies Learning Code HTML and CSS", "https://github.com/tessalt/LLC-HTML-CSS"
      %li
        = link_to "Kids Learning Code HTML and CSS (Ages 13-17)", "https://github.com/tessalt/KLC-HTML-CSS-Teens"
      %li
        = link_to "Girls Learning Code HTML and CSS", "http://tessalt.github.io/GLC-HTML-CSS/"
